* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 18%,
    rgba(129, 194, 250, 1) 84%
  ); */
  background: rgb(204, 204, 204);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------

                    SIDEBAR

 -------------------------------------------------------*/

.sidebar {
  height: 100%;
  width: 100%;
  color: #000;
}

.sidebar-top {
  background: #fff;
  border-top-right-radius: 10px;
  /* border-bottom-right-radius: 10px; */
}

.sidebar-logo {
  border-bottom: 1px solid #f5f5f5;
}

.sidebar-top .fa-user-circle {
  font-size: 1.7rem;
}

.user {
  background: #fff;
}

.user__name {
  font-size: 1.2rem;
}

.user__avatar > img {
  width: 75px;
  border-radius: 50%;
}

.navigation {
  background: #fff;
}

.menu {
  font-size: 1.2rem;
  color: #b4b9bf;
  font-weight: bold;
}

<<<<<<< HEAD
.menu__item a {
  padding-left: 20px;
=======
.navigation {
  padding: 15px 0;
}

.menu__item span.line {
  width: 10px;
  height: 1px;
  display: inline-block;
  border-radius: 50%;
  background: #dad7c5;
  opacity: 0;
>>>>>>> 6ef2e227242f86537a105bd65244591c3ce03df0
}

.menu__item:not(:first-child) {
  border-top: 1px solid gray;
}

.menu__item:hover {
  background: rgb(252, 117, 39);
  cursor: pointer;
  color: #fff;
}

.menu__title {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #bbb9bf;
}

/* -----------------------------------------------------

                    MAIN

 -------------------------------------------------------*/

.main {
  width: 100%;
  background: #fff;
  border-top-left-radius: 10px;
  /* border-bottom-left-radius: 10px; */
}

.top {
  border-bottom: 1px solid #f5f5f5;
}

.teacher .teacher__avatar {
  border: 1px solid black;
  border-radius: 50%;
}
.teacher .teacher__avatar .fa-user-graduate {
  font-size: 1.7rem;
  padding: 10px;
}

.teacher__link {
  color: #bdbdbd;
}

.link__list span.circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #bdbdbd;
  border-radius: 50%;
}

.link__item {
  border-bottom: 1px dotted #bdbdbd;
}

.back-to-lessons {
  background: #f1f4fb;
}

.lessons {
  background: #f5f56a;
}

/* -----------------------------------------------------

                    COURSE

 -------------------------------------------------------*/

.course {
  background: #fff;
}

.link-to-current-lesson {
  border-bottom: 1px solid transparent;
}

.link-to-current-lesson > a {
  color: blue;
  font-style: italic;
}

.link-to-current-lesson:hover {
  border-bottom: 1px solid #3fc5f0;
}

.lessons-passed {
  font-size: 1.1rem;
}

.card {
  width: 100%;
  margin-bottom: 15px;
}
